@import url("https://fonts.googleapis.com/css?family=Montserrat");

.main-nav {
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  background: white;
  padding: 0.5rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-body {
  margin-top: 10vh;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: flex-end;
}

.main-nav__item {
  /* font-size: 1.1rem; */
  margin: 0 1rem;
  color: black;
}

.main-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item:hover {
  transform: scale(1.05);
}

.hero {
  width: auto;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.hero_button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero_button-container h1 {
  margin-bottom: 20px;
  word-wrap: break-word;
  text-align: center;
  max-width: 600px;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 800;
}

.hero_button {
  background-color: purple; /* Green */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
}

.hero_button:hover {
  transform: scale(1.1);
}

.hero_button:active {
  color: white;
  border: none;
  outline: none;
}

@media (max-width: 720px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero_img-container {
    height: 100%;
    overflow: hidden;
  }
  .hero_img {
    display: block;
    margin: 15% 0;
  }
  .hero_button-container h1 {
    font-size: 1.8rem;
  }
}

.filter-contaienr {
  display: flex;
  justify-content: center;
  margin: 90px auto 40px auto;
}

.filter {
  width: 280px;
  color: black;
}

.filter div {
  color: black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* border: 0; */
  width: 280px;
  text-align: center;
  font-family: arial;
  margin: 10px;
  padding: 10px 15px 20px 15px;
  justify-content: space-between;
  /* position: relative; */
}

.card:hover {
  transform: scale(1.05);
}

.card_img-container {
  height: 200px;
  overflow: hidden;
}
.card_img {
  display: block;
  height: 300px;
  width: 250px;
  /* overflow: hidden;
  width: 100%;
  height: 200px; */
}

.card_character {
  font-size: 0.9rem;
  font-weight: 800;
  margin-top: 20px;
}

.card_quote {
  font-weight: 200;
  font-size: 0.8rem;
}

.card_button {
  background-color: #7b0980; /* Green */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.8rem;
}

.card_button:active {
  color: white;
  border: none;
  outline: none;
}

.spinner-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-container p {
  margin: 0;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .cards {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .cards {
    width: 600px;
  }
}

@media (max-width: 600px) {
  .cards {
    width: 300px;
    /* margin: auto; */
  }
}

.footer {
  width: 100%;

  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.footer-hero {
  position: fixed;
  bottom: 0;
}

.footer_right {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  height: 70px;
  margin-bottom: 15px;
}

.footer_copyright {
  font-size: 0.8rem;
}
