.main-header {
  width: 100%;
  height: 10vh;
  /* position: fixed; */
  top: 0;
  left: 0;
  /* background: #2ddf5c; */
  padding: 0.5rem 1rem;
  z-index: 60;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
  display: none;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.main-nav__item {
  margin: 0 1rem;
  color: black;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 0.2rem 0;
}

.hero {
  width: auto;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.hero_button-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_button {
  background-color: #7b0980; /* Green */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.hero_button:hover {
  transform: scale(1.1);
}

@media (max-width: 720px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero_img-container {
    height: 100%;
    overflow: hidden;
  }
  .hero_img {
    display: block;
    margin: 15% 0;
  }
}

.filter-contaienr {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* border: 0; */
  max-width: 280px;
  text-align: center;
  font-family: arial;
  margin: 10px;
  padding: 10px 10px 20px 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card_character {
  font-size: 0.9rem;
  font-weight: 800;
  margin-top: 20px;
}

.card_quote {
  font-weight: 200;
  font-size: 0.8rem;
}

.card_button {
  background-color: #7b0980; /* Green */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 0.8rem;
}

@media (max-width: 1200px) {
  .cards {
    width: 900px;
  }
}

@media (max-width: 900px) {
  .cards {
    width: 675px;
  }
}

@media (max-width: 600px) {
  .cards {
    width: 300px;
    /* margin: auto; */
  }
  /* .card {
    max-width: 300px;
    width: 300px;
  } */
}
